*{
    margin: 0;
    padding: 0;
}
h1{
text-align: center;
}
.card{
margin: 0 auto;
margin-top: 10px;
width: 400px;
box-shadow: 0 4px 8px 0 black;
transition: 0.3;
font-size:0;
background-color: blueviolet;
text-align: center;
}
.card:hover{
box-shadow: 0 16px 32px 0 black;
}
.head #results{
width: 345px;
height: 100px;
text-align: right;
padding: 0 5px;
letter-spacing: 2px;
}
.btn{
width: 85px;
height:75px;
background-color: rgb(18, 5, 24);
color: white;
text-align: center;
font-size: 30px;
font-weight: bolder;
}
.btn3{
    background-color: rgb(10, 13, 194);
    width: 85px;
height:75px;
color: white;
text-align: center;
font-size: 30px;
font-weight: bolder;
}
.btn4{
    background-color: rgb(232, 248, 12);
    width: 85px;
height:75px;
color: white;
text-align: center;
font-size: 30px;
font-weight: bolder;
}
.btn:hover{
    background-color: palevioletred;

}

.btn3:hover{
    background-color: palevioletred;
}
.btn4:hover{
    background-color: palevioletred;
}